:root {
    --burntorange: #CC6600;
    --lemonchiffon: #FFFBD0;
    --lightorange: #FF9900;
    --bloodorange: #C13100;
}

body {
    background-color: var(--lemonchiffon);
    font-family: sans-serif;
}

.header {
    font-size: 40px;
    margin: 80px;
    margin-left: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;

}

.topnav ul li {
    display: flex;
    position: relative;
    float: right;
    margin-left: 25px;
    padding-top: 15px;
    font-size: 20px;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.dog-container {
    background-color: var(--bloodorange);
    margin-left: 20%;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.sideColumn {
    position: absolute;
    top: 200px;
    margin-left: 20px;
}

.content {
    background-color: white;
    margin-left: 20%;
    padding: 10px;
}

img {
    height: 220px;
    width: 275px;
    margin: 4px;
    border-style: solid;
    border-width: 3px;
    color: var(--lemonchiffon);
    /* cursor: pointer; */
    border-radius: 10%;
}

article {
   cursor: pointer;
   border-bottom: dashed 2px var(--burntorange);
}

.dogName {
    font-weight: bold;
}

.dogLink {
    text-decoration: underline;
}

.footer {
    margin: 50px;
    text-align: center;
}

@media screen and (max-width: 600px) {

}