body {
    background-color: #FFFBD0;
    font-family: sans-serif;
}

.header {
    font-size: 40px;
    margin: 80px;
    margin-left: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    -webkit-text-stroke: #C13100;
}

.topnav ul li {
    display: flex;
    position: relative;
    float: right;
    margin-left: 25px;
    padding-top: 15px;
    font-size: 20px;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.dog-container {
    background-color: #C13100;
}
.content{
    background-color: white;
}

